body
  background: black

.container
  justify-content: center
  display: flex
  flex-direction: column

.buttons
  button
    margin: 0px 10px 0px 10px
    background: gray

.tasklist
  display: flex
  text-align: center
  margin: 0px 20px 0px 20px

h1
  color: white

p
  color: white
