body
  background: rgba(36,35,35,1) 

.container
  justify-content: center
  align-items: center
  display: flex
  flex-direction: column
  height: calc(100vh - 10em)
  width: 100%
  background: pink

.buttons

  button
    margin: 10px
    background: #534b4b
    height: 40px
    width: 100px
    position: relative
    border-radius: 10px
    h4
      position: absolute
      top: -14px
      text-align: center
      text-decoration: none
      color: white

.tasklist
  display: flex
  text-align: center
  margin: 0px 20px 0px 20px

h1
  color: white

p
  color: white

.widthBox
  width: 100px
  height: 100px

.daBoxes
  display: flex
  flex-wrap: wrap
  width: 300px
  height: 300px

.outerContanier
  display: flex
  justify-content: center
