.outerborder
  position: relative
  border: 2px solid white
  height: 80vh
  width: 99%

//right & left slide are copies need to make reusable css to shorten by half
.leftslide
  position: absolute
  border: 2px solid white
  height: 100%
  width: 200px
  display: flex
  justify-content: center
  align-items: center

.rightslide
  right: 0
  position: absolute
  border: 2px solid white
  height: 100%
  width: 200px
  display: flex
  justify-content: center
  align-items: center

// gotta make the button style from style.sass stop overriding this file.

// button
//   margin: 0px 0px 0px 0px
